{% extends 'base.html' %}

{% block content %}

      {% block title %}
            {{post.title}}
      {% endblock %}

<ul>
{% for post in object_list %} <!-- post(it can e x or something like that) is just name not a system name, object_list is system name -->
    <li>
        <a href="{% url 'article-detail' post.pk %}">{{ post.title }}</a>-{{ post.author.first_name }}-{{ post.author.last_name }}--{{ post.post_date }}
        {% if user.is_authenticated %}

        <a href="{% url 'update-post' post.pk %}">(Edit)</a>
        <a href="{% url 'delete-post' post.pk %}">(Delete)</a><br>

        {% endif %}
        {{ post.body }}
    </li>
{% endfor %}
</ul>

{% endblock %}